<div class= "home-wrapper">
  <div class="container-fluid">
  <div class="hidden-xs hidden-sm border community"></div>
    <!-- ========== SEARCHBAR ========== -->
    <div class="col-xs-8 col-xs-offset-3">
      <form action="" class="list-search">
        <input type="text" class="list-search-input" placeholder="Chercher dans la communauté">
        <button type="submit" class="list-search-btn">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
    <!-- ========== SIDEBAR ========== -->
    <div class="col-xs-1 col-xs-offset-2">
      <div id="sidebar">
        <div id="sidebar-category">
          <% @categories.each do |category| %>
            <%= link_to channels_path(category: category.name) do %>
              <% if category == @category %>
                <h4 class="active"><%= category.name %></h4>
              <% else %>
                <h4><%= category.name %></h4>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- ========== SCROLL LIST ========== -->
    <div class="col-xs-9">
      <div class="list-scroll">
        <% if @channels && @channels.length > 0 %>
          <% @channels.each do |channel| %>
            <div class="list-item">
              <%= link_to channel.link, target: :_blank do %>
                <%= cl_image_tag channel.picture.path, class: "list-image", width: 178, height: 267, crop: :fill %>
                <ul>
                  <li><h3><%= channel.name %></h3></li>
                  <li><p><%= channel.description %></p></li>
                </ul>
              <% end %>
            </div>
          <% end %>
        <!-- ========== PAS DE RESULTAT ========== -->
        <% else %>
          <div class="list-item"">
            <div class="banner-image">
              <p class="banner-title"> Aucune chaîne pour l'instant ! </p>
              <%= link_to "Présenter mon blog / ma chaine YouTube ", new_channel_path, class:"profile-youtube hvr-glow"  %>
            </div>
          </div>
        <% end %>
  <!-- ====== CLOSE WRAPPER AND CONTAINER ====== -->
      </div>
    </div>
  </div>
</div>
