<div class="lecture-wrapper">
  <div class="container">
    <div class= "row">
      <!-- ========== BORDER COLOR ========== -->
      <div class="border <%= @lecture_course.category.tag %>"></div>
      <!-- ========== CHECKBOX ========== -->
      <% if current_user %>
        <div class= "sidebar-like checkbox" id="like-<%= @lecture_course.id %>">
          <%= render '/courses/like', course: @lecture_course %>
        </div>
      <% end %>
      <!-- ========== SIDE MENU ========== -->
      <div class= "col-xs-12 col-sm-3">
        <div class="lecture-menu">
          <% @lectures.each do |lecture| %>
            <ul>
              <%= link_to lecture_path(lecture) do %>
                <% if lecture.id.to_s == params[:id]%>
                  <li class="lecture-link active"><%= lecture.title %></li>
                <% else %>
                  <li class="lecture-link"><%= lecture.title %></li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
      <!-- ========== VIDEO PAGE ========== -->
      <div class= "col-xs-12 col-sm-9">
        <div class="lecture-show">
          <!-- ========== VIDEO EMBED ========== -->
          <div class="lecture-video">
            <% if policy(@lecture).watch_video? %>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="854" height="480" src="https://www.youtube.com/embed/<%= @lecture.video %>?showinfo=0" allowfullscreen></iframe>
            </div>
            <% else %>
              <div class="lecture-vignette" style="background-image: url(http://img.youtube.com/vi/<%= @lecture.video %>/sddefault.jpg);">
                <%= link_to plans_path do %>
                  <%= image_tag ("lecture-icon.png"), class: "lecture-icon" %>
                <% end %>
              </div>
            <% end %>
          </div>
          <!-- ========== TABS ========== -->
          <div class= "tabs">
            <span class="tab active tab-description <%= @lecture_course.category.tag %>" href="#">
              <h3>Description</h3>
            </span>
            <span class="tab tab-documents <%= @lecture_course.category.tag %>" href="#">
              <h3>Documents</h3>
            </span>
            <span class="tab tab-discussion <%= @lecture_course.category.tag %>" href="#">
              <h3>Discussion</h3>
            </span>
          </div>
          <!-- ========== TAB CONTENT ========== -->
          <div class="lecture-content">
            <!-- === DESCRIPTION === -->
            <p class="lecture-description content"><%= @lecture.description %></p>
            <!-- === DOCUMENTS === -->
            <div class="lecture-documents content">
              <% if @documents %>
                <ul>
                  <% @documents.each do |document| %>
                    <li class="hvr-icon-grow">
                      <%= link_to document.title, document_path(document)%>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                <h4>Aucun document pour l'instant !</h4>
                Mais n'hésitez pas à me suggérer par email ce qui pourrait vous aider : mediaclasse.fr@gmail.com
              <% end %>
            </div>
            <div id="lecture-comments">
              <%= render 'comments' %>
            </div>
            <!-- ========== CLOSE TABS ========== -->
          </div>
    <!-- ========== CLOSE CONTAINERS ========== -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ========== JS ACTION ON TABS ========== -->
<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.tab-description').on('click', function(event) {
        $(".content").hide();
        $(".lecture-description").show();
        $(".tab").removeClass('active');
        $(this).addClass('active');
      });
      $('.tab-documents').on('click', function(event) {
        $(".content").hide();
        $(".lecture-documents").show();
        $(".tab").removeClass('active');
        $(this).addClass('active');
      });
      $('.tab-discussion').on('click', function(event) {
        $(".content").hide();
        $(".lecture-discussion").show();
        $(".tab").removeClass('active');
        $(this).addClass('active');
      });
    });
  <% end %>
<% end %>
