<% content_for :meta_title do %>
  <%= @meta_title %>
<% end %>

<% content_for :meta_image do %>
  <%= @lecture.meta_image %>
<% end %>

<!-- <#% content_for :meta_description do %>
  <#%= @lecture.description %>
<#% end %> -->

<div class="lecture-wrapper">
  <div class="container">
    <div class= "row">
      <!-- ========== BORDER COLOR ========== -->
      <div class="hidden-xs border <%= @lecture_course.category.tag %>"></div>
      <!-- ========== CHECKBOX ========== -->
      <% if current_user %>
        <div class= "sidebar-like checkbox" id="like-<%= @lecture_course.id %>">
          <%= render '/courses/like', course: @lecture_course %>
        </div>
      <% end %>
      <!-- ========== SIDE MENU ========== -->
      <nav class= "col-xs-12 col-sm-12 col-md-3">
        <div class="lecture-menu">
          <% @lectures.each do |lecture| %>
            <ul>
              <%= link_to lecture_path(lecture) do %>
                <% if lecture.id.to_s == params[:id] %>
                  <li class="lecture-link active"><%= lecture.title %>
                    <%= "*" unless policy(lecture).watch_video? %>
                  </li>
                <% else %>
                  <li class="lecture-link"><%= lecture.title %>
                    <%= "*" unless policy(lecture).watch_video? %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
      </nav>
      <!-- ========== VIDEO PAGE ========== -->
      <div class= "col-xs-12 col-md-9">
        <div class="lecture-show">
          <!-- ========== VIDEO EMBED ========== -->
          <% if policy(@lecture).watch_video? %>
            <%= render 'shared/embedvideo' %>
          <% else %>

            <%= render 'shared/planmodal' %>
            <div data-toggle = "modal" data-target = "#PlanModal">
              <div class="embed-responsive embed-responsive-16by9 lecture-vignette">
                <%= image_tag @lecture.course.picture, class: "lecture-cover", alt: "Couverture du livre "+@lecture_course.title+" de "+@lecture_author %>
                <%= image_tag ("lecture-icon.png"), class: "lecture-icon" %>
                <h2 class= "lecture-title hidden-xs"><%= @lecture.title %></h2>
                <h2 class= "lecture-title-xs hidden-sm hidden-md hidden-lg hidden-xl"><%= @lecture.title %></h2>
                <p class="lecture-note">
              </div>
              <p class="lecture-note">
                <i>* Video réservée aux abonnés</i>
              </p>
            </div>

          <% end %>
          <!-- ========== TABS ========== -->
          <div class= "tabs">
            <span class="tab active tab-description <%= @lecture_course.category.tag %>" href="#">
              <label for="description">CONTENU</label>
            </span>
            <% if @documents != [] %>
            <span class="tab tab-documents <%= @lecture_course.category.tag %>" href="#">
              <label for="documents">DOCUMENTS</label>
            </span>
            <% end %>
          </div>
          <!-- ========== TAB CONTENT ========== -->
          <div class="lecture-content">
            <!-- === DESCRIPTION === -->
            <% if policy(@lecture).watch_video? %>
              <section class="lecture-description content">
                <%= @description_for_subscribers %>
              </section>
            <% else %>
              <section class="lecture-description content"><%= @description_for_free %>
                <p>[...]</p>
                <br><br><i><%= link_to "Soutenez le site et accédez au contenu complet.", plans_url %></i>
              </section>
            <% end %>
            <!-- === DOCUMENTS === -->
              <section class="lecture-documents content" id="documents">
                <% if policy(@lecture).watch_video? %>
                  <% @documents.each do |document| %>
                    <p>
                      ⇨ <%= link_to document.title, document_path(document)%>
                    </p>
                  <% end %>
                <% else %>
                  <%= render 'shared/planmodal' %>
                  <% @documents.each do |document| %>
                      <p data-toggle = "modal" data-target = "#PlanModal">
                        ⇨ <%= link_to document.title, '#documents' %>
                      </p>
                  <% end %>
                <% end %>
              </section>
            <!-- ========== CLOSE TABS ========== -->
          </div>
    <!-- ========== CLOSE CONTAINERS ========== -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ========== JS ACTION ON TABS ========== -->
<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.tab-description').on('click', function(event) {
        $(".content").hide();
        $(".lecture-description").show();
        $(".tab").removeClass('active');
        $(this).addClass('active');
      });
      $('.tab-documents').on('click', function(event) {
        $(".content").hide();
        $(".lecture-documents").show();
        $(".tab").removeClass('active');
        $(this).addClass('active');
      });
    });
  <% end %>
<% end %>
