<!-- === NEW COMMENT === -->
  <% if user_signed_in? %>
    <div class= "lecture-discussion">
        <% if current_user.picture %>
          <%= cl_image_tag current_user.picture.path, class: "list-image", width: 80, height: 80, crop: :fill %>
        <% else %>
          <%= cl_image_tag 'https://s3-eu-west-1.amazonaws.com/acquis/couvertures/default-user.jpg', class: "list-image", width: 80, height: 80, crop: :fill %>
        <% end %>
      <!-- Capture name or begining of email adress -->
      <% if current_user.firstname %>
          <b><%= current_user.firstname %> <%= current_user.lastname %></b>
        <% else %>
          <%= current_user.email.gsub(/.*(?=@)/).first %>
        <% end %>
      <!-- If error -->
      <%= form_for @comment, remote: true do |f| %>
        <% if @comment.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.text_area :content, class: "lecture-form" %>
        <%= f.submit class: "lecture-submit", value: "Publier" %>
      <% end %>
      <!-- End of error -->
    </div>
  <% end %>
</div>
<!-- === ALL COMMENTS === -->
<% @comments.each do |comment| %>
  <div class= "lecture-discussion" id="comment-<%= comment.id %>">
  <!-- Capture if picture exist -->
    <% if comment.user.picture %>
      <%= cl_image_tag comment.user.picture.path, class: "list-image", width: 80, height: 80, crop: :fill %>
    <% else %>
      <%= cl_image_tag 'https://s3-eu-west-1.amazonaws.com/acquis/couvertures/default-user.jpg', class: "list-image", width: 80, height: 80, crop: :fill %>
    <% end %>
    <!-- Capture name or begining of email adress -->
    <% if comment.user.firstname %>
      <b><%= comment.user.firstname %> <%= comment.user.lastname %></b>
    <% else %>
      <b><%= comment.user.email.gsub(/.*(?=@)/).first %></b>
    <% end %>
    <!-- Add the timestamp on the comment -->
    <i> - <%= comment.created_at.strftime("le %d/%m/%y à %H:%M") %></i><br>
    <%= comment.content.gsub("\n", "<br/>").html_safe %>
    <!-- Current user can suppr the comment -->
    <% if comment.user == current_user %>
      <%= form_tag comment_path(comment), remote: true do %>
        <%= hidden_field_tag "comment_id", comment.id %>
        <%= button_to("Supprimer", comment_path(comment), method: :delete, class: "lecture-delete") %>
      <% end %>
    <% end %>
  </div>
<% end %>
