<div class= "lecture-discussion" id="comment-<%= comment.id %>">
<!-- Capture if picture exist -->
  <% if comment.user.picture %>
    <%= cl_image_tag comment.user.picture.path, class: "list-image", width: 80, height: 80, crop: :fill %>
  <% else %>
    <%= cl_image_tag 'https://s3-eu-west-1.amazonaws.com/acquis/couvertures/default-user.jpg', class: "list-image", width: 80, height: 80, crop: :fill %>
  <% end %>
  <!-- Capture name or begining of email adress -->
  <% if comment.user.firstname %>
    <b><%= comment.user.firstname %> <%= comment.user.lastname %></b>
  <% else %>
    <b><%= comment.user.email.gsub(/.*(?=@)/).first %></b>
  <% end %>
  <!-- Add the timestamp on the comment -->
  <i> - <%= comment.created_at.strftime("le %d/%m/%y à %H:%M") %></i><br>
  <%= comment.content.gsub("<script", "").gsub("\n", "<br/>").html_safe %>
  <!-- Current user can suppr the comment -->
  <% if comment.user == current_user %>
    <%= form_tag comment_path(comment), remote: true do %>
      <%= hidden_field_tag "comment_id", comment.id %>
      <%= button_to("Supprimer", comment_path(comment), method: :delete, class: "lecture-delete") %>
    <% end %>
  <% end %>
</div>
