<!-- ====== bloc de commentaire avec une marge si admin ====== -->
  <% if comment.user.admin %>
    <div class= "lecture-admincomment" id="comment-<%= comment.id %>">
  <% else %>
    <div class= "lecture-discussion" id="comment-<%= comment.id %>">
  <% end %>
<!-- === Avatar de l'utilisateur === -->
  <% if comment.user.picture %>
    <%= cl_image_tag comment.user.picture.path, class: "list-image", width: 80, height: 80, crop: :fill %>
  <% else %>
    <%= cl_image_tag 'https://s3-eu-west-1.amazonaws.com/acquis/couvertures/default-user.jpg', class: "list-image", width: 80, height: 80, crop: :fill %>
  <% end %>
  <!-- === Nom de l'utilisateur, ou début de l'adresse email === -->
  <% if comment.user.firstname %>
    <b><%= comment.user.firstname %> <%= comment.user.lastname %></b>
  <% else %>
    <b><%= comment.user.email.gsub(/.*(?=@)/).first %></b>
  <% end %>
  <!-- === Date et heure du commentaire === -->
  <i> - <%= comment.created_at.strftime("le %d/%m/%y à %H:%M") %></i><br>
  <%= comment.content.gsub("<", "'").gsub(">", "'").gsub("\n", "<br/>").html_safe %>
  <!-- === L'utilisateur peut supprimer ses propres commentaires === -->
  <% if comment.user == current_user %>
    <%= form_tag comment_path(comment), remote: true do %>
      <%= hidden_field_tag "comment_id", comment.id %>
      <%= button_to("Supprimer", comment_path(comment), method: :delete, class: "lecture-delete") %>
    <% end %>
  <% end %>
</div>
