<!-- ====== bloc de commentaire ====== -->
<div class= "lecture-discussion" id="comment-<%= comment.id %>">
<!-- === Avatar de l'utilisateur === -->
  <% if comment.user.picture %>
    <%= cl_image_tag comment.user.picture.path, class: "avatar-list", width:80, height:80, crop: :fill %>
  <% else %>
    <%= cl_image_tag "https://s3-eu-west-1.amazonaws.com/acquis/avatars/"+(comment.user.id+1000).to_s.last(3)+".jpg", class: "avatar-list", crop: :fill %>
  <% end %>
  <!-- === Nom de l'utilisateur, ou début de l'adresse email === -->
  <% if comment.user.firstname %>
    <b><%= comment.user.firstname %> <%= comment.user.lastname %></b>
  <% else %>
    <b><%= comment.user.email.gsub(/.*(?=@)/).first %></b>
  <% end %>
  <!-- === Date et heure du commentaire === -->
  <i> - <%= comment.created_at.strftime("le %d/%m/%y à %H:%M") %></i><br>
  <!-- === Contenu du commentaire -->
  <% if comment.user.admin %>
    <%= comment.content.gsub("\n", "<br/>").html_safe %>
  <% else %>
    <%= comment.content.gsub("<", "'").gsub(">", "'").gsub("\n", "<br/>").html_safe %>
  <% end %>
  <!-- === L'utilisateur peut supprimer ses propres commentaires === -->
  <% if comment.user == current_user %>
    <%= form_tag comment_path(comment), remote: true do %>
      <%= hidden_field_tag "comment_id", comment.id %>
      <%= button_to("Supprimer", comment_path(comment), method: :delete, class: "lecture-delete") %>
    <% end %>
  <% end %>
</div>


<!-- ===== réponses au commentaire ===== -->

<% comment.subcomments.order("created_at ASC").each do |subcomment| %>
<!-- === Bloc de sous-commentaire === -->
  <div class= "lecture-subcomment">
    <!-- === Avatar de l'utilisateur -->
    <% if subcomment.user.picture %>
    <%= cl_image_tag subcomment.user.picture.path, class: "avatar-list", width:80, height:80, crop: :fill %>
    <% else %>
      <%= cl_image_tag "https://s3-eu-west-1.amazonaws.com/acquis/avatars/"+(subcomment.user.id+1000).to_s.last(3)+".jpg", class: "avatar-list", crop: :fill %>
    <% end %>
    <!-- === Nom de l'utilisateur, ou début de l'adresse email === -->
    <% if subcomment.user.firstname %>
      <b><%= subcomment.user.firstname %> <%= subcomment.user.lastname %></b>
    <% else %>
      <b><%= subcomment.user.email.gsub(/.*(?=@)/).first %></b>
    <% end %>
    <!-- === Date et heure du commentaire === -->
    <i> - <%= subcomment.created_at.strftime("le %d/%m/%y à %H:%M") %></i><br>
    <!-- === Contenu du sous-commentaire === -->
    <%= subcomment.content.gsub("\n", "<br/>").html_safe %>
  </div>
<% end %>
