<div class="home-wrapper">
  <div class="container">
    <div class="border profile"></div>
    <div class="row">

      <div class="col-xs-10 col-xs-offset-1">

      <div class="profile-edit-wrapper">

      <h2>Mon profil</h2>

        <%= simple_form_for(@user) do |f| %>
          <% if @user.errors.any? %>

          <% end %>
          <%= f.error_notification %>

          <%= f.input :picture, as: :attachinary, label: "Votre photo" %>


          <%= f.input :firstname, label: "Prénom" %>
          <%= f.input :lastname, label: "Nom" %>
          <%= f.input :email %>
          <%= f.input :level, label: "Niveau" %>
          <%= f.input :adress, label: "Adresse" %>
          <%= f.input :phone, label: "Téléphone", class: "telinput" %>
          <%= f.input :birth, label: "Date de naissance" %>

          <%= f.submit class: "btn btn-primary",id:"profilesave", value: "Enregistrer"%>
        <% end %>

        <div class="user-channel-edit">

          <p>Tu es l'auteur d'un blog ou d'une chaîne Youtube littéraire ? <br>
            Tu souhaites rejoindre la communauté Mediaclasse ?</p>

          <% if @channel %>
            <%= link_to "Editer mon blog / ma chaine YouTube", edit_channel_path(@channel), class:"btn btn-primary" %>
          <% else %>
            <%= link_to "Présenter mon blog / ma chaine YouTube ", new_channel_path, class:"btn btn-primary"  %>
          <% end %>
        </div>

      </div>

      </div>
    </div>
  </div>
</div>
