  <div class="card-wrapper">
    <div class="container-fluid">
      <div class="border profile"></div>


        <!-- ========== VIGNETTE ========== -->
        <% @my_courses.reverse.each do |course| %>
          <%= link_to lecture_path(course.lectures.first) do %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="card-course" data-id="<%= course.id %>" style='background-image: url(<%= course.picture %>)'>
                <span class="card-title"><%= course.title %></span>
                <% if course.author %>
                  <span class="card-author"><%= course.author.pseudo %></span>
                <% else %>
                  <span class="card-author"><%= course.category.name %></span>
                <% end %>
              </div>
              <div>
                <div class= "card-like checkbox" id="like-<%= course.id %>">
                    <%= render 'like', course: course %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <!-- ========== CLOSE WRAPPERS ========== -->

    </div>
  </div>

