  <div class="card-wrapper">
    <div class="container-fluid">
      <div class="border profile"></div>
        <!-- ========== VIGNETTE ========== -->
        <% if @my_courses.length > 0 %>
          <% @my_courses.each do |course| %>
            <%= link_to lecture_path(course.lectures.first) do %>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card-course" data-id="<%= course.id %>" style='background-image: url(<%= course.picture %>)'>
                  <span class="card-title"><%= course.title %></span>
                  <% if course.author %>
                    <span class="card-author"><%= course.author.pseudo %></span>
                  <% else %>
                    <span class="card-author"><%= course.category.name %></span>
                  <% end %>
                </div>
                <div>
                  <div class= "card-like checkbox" id="like-<%= course.id %>">
                      <%= render 'like', course: course %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4>Vous n'avez encore aucun cours dans votre espace personnel !</h4>
          <p>N'hésitez pas à explorer les cours littéraires et techniques :</p>
        </div>
          <%= link_to litterature_courses_path do %>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <!-- <div class="card-empty card-litterature", style='background-image: url("http://res.cloudinary.com/mediaclasse-fr/image/upload/v1473263654/courses/litterature.jpg")'> -->
<div class="card-empty card-litterature", style='background-image: url("https://lh3.googleusercontent.com/AYARr2rYpO7v6-wrBRNgNqySL-Hk98DTZYnuXOqGyWiKrCfsplJzhN0Wr-70LxfCRO7G5uOrZSkaouXY79ciR7Kgn4tJsYe0kuzrCEKBgSaNIU2x69hZMobOH5064QIZS2LenTIsX3XfGgIPrycWgBKPA6DuOi4XypN336WjLGg6rhCTF66g1yzF0hEYBLVJvctBaCZVx0gGyiSaUaMoLcEcSWdAuxhQQuDK3JbA9Xwv6st8IWAp4ftgMOEint_1W4UPFhsXhnv4Gffk7vRECJMEMMPypkRkL--xB8_SUmRvaAIOYqoL-H7LKB1rF17BnrAczm-UfJuFWJleRE470Sl3yyVZ5eDL1hJgEkVX8DP6qMXbospPgcn4CLCvmHiV9UwlxjL7n6tfO--gTgc4Ld_uNcBWTnpnwpqUMHEBy5xbCkn7v0bO_2A165FAulAYbgxaOQnz2h5d46feOOS6_xFbEJ1crE6nDA7L7zxfiTCL9aJctHQwBGng47sgyGVEOYKX9am7HaX_-j1qspf0b_E6gaSobadAV4ls2nvGPDFOWTU34E9up2-MuBVr1hpaJT_zRf_zWxG9p5f2ToduAtk2cMFmr6Dg1F7bOw0m15rCkJg=w599-h736-no")'>


                <span class="card-title">Oeuvres & analyses</span>
              </div>
            </div>
          <% end %>
            <% @technique_category = Category.where(tag: "technique").first.name %>
            <%= link_to technique_courses_path(category: @technique_category) do %>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="card-empty card-technique", style='background-image: url("http://res.cloudinary.com/mediaclasse-fr/image/upload/v1473255510/courses/technique.jpg")'>
                  <span class="card-title">Méthodes & techniques</span>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <!-- ========== CLOSE WRAPPERS ========== -->
    </div>
  </div>

