
<footer class='footer'>
  <div class= "col-xs-4">
    <div class= "footer-part">
      <h1>Contact</h1>
      <p>mediaclasse.fr@gmail.com<p>
      <p>S'incrire à la newsletter<p>
      <p>Participer</p> ajouter link_to vers participation"
    </div>
  </div>
  <div class= "col-xs-4">
    <div class= "footer-part">
      <h1>Communauté</h1>

      <div class="footer-social-icons">
      <%= link_to "https://twitter.com/mediaclassefr?lang=fr" do %>
         <i class="fa fa-twitter"></i>
      <% end %>

      <%= link_to "https://www.facebook.com/mediaclasse/" do %>
         <i class="fa fa-facebook"></i>
      <% end %>

      <%= link_to "https://www.youtube.com/user/mediaclasse" do %>
         <i class="fa fa-youtube"></i>
      <% end %>
      </div>


      <p>Proposer une chaîne</p>
    </div>
  </div>
  <div class= "col-xs-4">
    <div class= "footer-part">
      <h1>Plan du site</h1>
      <p>  <%= link_to "Oeuvres & analyses", litterature_courses_path %><p>
      <p>  <%= link_to "Méthodes & Techniques", technique_courses_path %><p>
    </div>
  </div>
</footer>
