<footer>
<!-- ========== CONTACTS ========== -->
    <div class= "footer-part">
      <h3>Contact</h3>
      <p>mediaclasse.fr@gmail.com<p>
      <p><%= link_to "S'incrire à la newsletter", newsletter_path %><p>
      <p><%= link_to "Consulter les tarifs", plans_path %><p>
    </div>
<!-- ========== COMMUNAUTE ========== -->
    <div class= "footer-part">
      <h3>Réseaux</h3>
      <!-- <% @channels_category = Category.where(tag: "chaines").first.name %>
      <%= link_to channels_path(category: @channels_category) do %>
      <p>Partenaires</p>
      <% end %> -->
      <div class="footer-social-icons">
        <%= link_to "https://twitter.com/mediaclassefr?lang=fr", target: "_blank" do %>
           <i class="fab fa-twitter"></i>
        <% end %>
        <%= link_to "https://www.facebook.com/mediaclasse/", target: "_blank" do %>
           <i class="fab fa-facebook"></i>
        <% end %>
        <%= link_to "https://www.linkedin.com/in/romain-boussot-051a6154/", target: "_blank" do %>
           <i class="fab fa-linkedin"></i>
        <% end %>
        <%= link_to "https://www.instagram.com/mediaclasse/", target: "_blank" do %>
           <i class="fab fa-instagram"></i>
        <% end %>
        <%= link_to "https://www.tiktok.com/@mediaclasse?lang=fr", target: "_blank" do %>
           <i class="fab fa-tiktok"></i>
        <% end %>
      </div>
    </div>

<!-- ========== PLAN DU SITE ========== -->
    <div class= "footer-part">
      <h3>Plan du site</h3>
      <p>  <%= link_to "Œuvres & Analyses", litterature_courses_path %><p>
      <% @technique_category = Category.where(tag: "technique").first.name %>
      <p>  <%= link_to "Méthodes & Repères", technique_courses_path(category: @technique_category) %><p>
      <% if current_user %>
        <p><%= link_to "Mes cours", user_path(current_user) %></p>
      <% end %>
    </div>

</footer>
