<div class='footer'>
<!-- ========== CONTACTS ========== -->
    <div class= "footer-part">
      <h1>Contact</h1>
      <p>mediaclasse.fr@gmail.com<p>
      <p><%= link_to "S'incrire à la newsletter", newsletter_path %><p>
      <p><%= link_to "Consulter les tarifs", plans_path %><p>
    </div>
<!-- ========== COMMUNAUTE ========== -->
    <div class= "footer-part">
      <h1>Communauté</h1>
      <div class="footer-social-icons">
        <%= link_to "https://twitter.com/mediaclassefr?lang=fr" do %>
           <i class="fa fa-twitter"></i>
        <% end %>
        <%= link_to "https://www.facebook.com/mediaclasse/" do %>
           <i class="fa fa-facebook"></i>
        <% end %>
        <%= link_to "https://www.youtube.com/user/mediaclasse" do %>
           <i class="fa fa-youtube"></i>
        <% end %>
      </div>
    </div>

<!-- ========== PLAN DU SITE ========== -->
    <div class= "footer-part">
      <h1>Plan du site</h1>
      <p>  <%= link_to "Oeuvres & analyses", litterature_courses_path %><p>
      <% @technique_category = Category.where(tag: "technique").first.name %>
      <p>  <%= link_to "Méthodes & Techniques", technique_courses_path(category: @technique_category) %><p>
    </div>


</div>
