<div class="navbar-media">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-media-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <%= link_to "Oeuvres & analyses", litterature_courses_path, class: "navbar-link link-litterature" %>
  <%= link_to "Méthodes & Techniques", technique_courses_path, class: "navbar-link link-technique" %>
  <%= link_to "Communauté", root_path, class: "navbar-link link-community" %>
  <%= link_to "Mes cours", root_path, class: "navbar-link link-profile" %>

  <!-- Right Navigation -->
  <div class="navbar-media-right hidden-xs hidden-sm">


    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-media-item">
        <div class="dropdown">
          <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-media-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-media-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

    <div class="loginsignup">

      <!-- Connection -->
      <%#= link_to "Connection", new_user_session_path, class: "navbar-media-item navbar-login" %>
    <%#= link_to "Inscription", "#", class: "navbar-media-item navbar-signup" %>

      <button type="button" class="navbar-login" data-toggle="modal" data-target="#myLoginModal">connexion</button>

    <!-- Inscription -->

      <button type="button" class="navbar-signup" data-toggle="modal" data-target="#mySignUpModal">inscription</button>
    <% end %>


    </div>

  </div>



  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-media-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-media-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

