<div class="navbar-media">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-media-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <%= link_to "Oeuvres & analyses", litterature_courses_path, class: "navbar-link underline link-litterature hvr-underline-from-center" %>

  <% @technique_category = Category.where(tag: "technique").first.name %>
  <%= link_to "Méthodes & Techniques", technique_courses_path(category: @technique_category), class: "navbar-link underline link-technique" %>

  <% @channels_category = Category.where(tag: "chaines").first.name %>
  <%= link_to "Communauté", channels_path(category: @channels_category), class: "navbar-link underline link-community" %>
  <% if current_user %>
    <%= link_to "Mes cours", user_path(current_user), class: "navbar-link underline link-profile" %>
  <% else %>
    <%= link_to "Mes cours", "#", "data-toggle" => "modal", "data-target" => "#myLoginModal", class: "navbar-link underline link-profile" %>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-media-right hidden-xs hidden-sm">


    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-media-item">
        <div class="dropdown">
          <%= cl_image_tag current_user.picture.path, class: "list-image", width: 40, height: 40, crop: :fill, class: "avatar-bordered hvr-grow dropdown-toggle", id: "navbar-media-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-media-dropdown-menu">
            <li>
              <%= link_to edit_user_path(current_user) do %>
                <i class="fa fa-user"></i> Mon Profil
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i> Accueil
              <% end %>
            </li>
            <li>
              <%= link_to plans_path do %>
                <i class="fa fa-star"></i> Participer
              <% end %>
            </li>
            <li>
              <%= link_to newsletter_path do %>
                <i class="fa fa-paper-plane"></i> Lettre d'Infos
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <div class="loginsignup">

      <!-- ========== MODALES DE CONNECTION ========== -->

      <%#= link_to "Connection", new_user_session_path, class: "navbar-media-item navbar-login" %>
      <%#= link_to "Inscription", "#", class: "navbar-media-item navbar-signup" %>

      <button type="button" class="navbar-login" data-toggle="modal" data-target="#myLoginModal">connexion</button>
      <button type="button" class="navbar-signup" data-toggle="modal" data-target="#mySignUpModal">inscription</button>

    <% end %>
    </div>
  </div>



  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-media-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-media-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

