<% @virement_plans.each  do |plan| %>

  <!-- ==== Vignette avec le plan ==== -->
  <div class= "plan-stripe <%= plan.css_class %>" data-toggle = "modal" data-target = "#Plan<%= plan.title %>">
    <h4><%= plan.title %></h4>
    <p><%= plan.description %></p>
    <div class= "plan-cbutton hvr-light">
      <p><%= number_to_currency(plan.price, unit:"").gsub(".00","") %>€ / 1 an</p>
    </div>
  </div>

  <!-- ==== Modale explicative ==== -->
  <div class="modal fade" id="Plan<%= plan.title %>" tabindex="-1" role="dialog" aria-labelledby="PlanLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class= "text-left">
            <%= plan.message.html_safe %>
          </div>
            <div class="form-actions">
              <br>
              <button type="link" class="btn btn-default hvr-glow" data-dismiss="modal" aria-label="Close">OK !</button>
            </div>
        </div>
      </div>
    </div>
  </div>

<% end %>

