<div class="modal fade" id="PlanModal" tabindex="-1" role="dialog" aria-labelledby="PlanLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

          <h3>Le site existe grâce à vous !</h3><br>
          <h4>Pourquoi une participation mensuelle à prix libre ?</h4>
          ► Quel que soit le montant choisi, vous accédez à tout, sans limite !<br>
          ► Les participations plus élevées rendent le forfait à 2€ possible.<br>
          ► C'est davantage du mécénat dans la durée qu'un acte d'achat.<br>
          <p>
          <h4>Comment fonctionne  le paiement ?</h4>
          ► Renouvellement automatique tous les mois à la même date.<br>
          ► Possibilité d'arrêter immédiatement (bouton rouge plus bas).</br>
          ► Système international et sécurisé de bout en bout.</i></br>
          <p>
          <h4>Une question particulière ?</h4>
          ► Contactez-moi par email :
          <strong><i>mediaclasse.fr@gmail.com</strong></i><br><br>

        <% if current_user %>
          <div class="form-actions">
            <br>
            <%= link_to "En savoir plus ?", plans_path, class: "btn btn-default hvr-glow" %>
          </div>
        <% else %>
        <h2>Connexion</h2>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, label: "Mot de passe", required: false %>
              <%= f.input :remember_me, label: "se souvenir de moi",  as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Me connecter" %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
