<div class="home-wrapper">
  <div class="container">
<!-- === EN-TÊTE === -->
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h3>Nombre d'Abonnés : <%= @customers.length %></h3>
        <% @total %>
        <% @stripe = (@total * 0.11).round(2) %>
        <% @rsi = (@total * 0.25044).round(2) %>
        <h4>Net : <%= @net = (@total - @stripe - @rsi).round(2) %> €</h4>
        <h5>(Moyenne client : <%= (@net / @customers.length).round(2) %> €)</h5>
        <br>
        <!-- ===== AFFICHER LES ABONNÉS ===== -->
          <% @customers.each do |customer| %>
            <%= link_to customer_infos_path(customer.stripe_customer_id), target: :_blank do %>
              <p>
                <%= customer.current_sign_in_at.strftime('%d/%m/%Y à %H:%M') %> -
                <%= customer.email %> -
                <%= customer.pricing %>0 €
              </p>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>

