<div class="home-wrapper">
  <div class="container">
<!-- === EN-TÊTE === -->
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h3>Informations client</h3>
        <!-- ===== AFFICHER LES ABONNÉS ===== -->
        E-mail :
        <%= @customer_infos[:email] %>
        <br>
        Stripe_customer_id :
        <%= @customer_infos[:id] %>
        <br>
        <% if @customer_infos["deleted"] %>
          Client supprimé sur Stripe
        <% elsif @customer_infos["subscriptions"]["data"].blank? %>
          Client désabonné
        <% else %>
          Abonnement en cours : <%= @customer_infos["subscriptions"]["data"].last["plan"]["name"] %>
          <br>
          Subscription ID : <%= @subscription_id %>
          <br>
        <% end %>
        Début de l'abonnement :
        <%= Time.at(@customer_infos["created"]).strftime('%d/%m/%Y') %>
        <br>
        Nombre de mois payés :
          <%= (Date.today.year * 12 + Date.today.month) - (Time.at(@customer_infos["created"]).year * 12 + Time.at(@customer_infos["created"]).month) + 1 %>
          <br>
        <br>
        <!-- ===== INFOS BRUTES ===== -->
        <!--
          <br><br>
          <%= @customer_infos %>
          <br><br>
          <#% unless @customer_subscription.nil? %>
            <%= @subscription_infos %>
          <#% end %>
          <br><br>
        -->
        <!-- ===== FIN DE PAGE ===== -->
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </div>
</div>

