<div class="home-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <div class= "plan-banner text-center" style="background-image: url('<%= @banner.description %>');">
            <%= link_to newsletter_path do %>
              <div class="plan-newsletter hvr-grow home-newsletter">
                <i class="fa fa-paper-plane"></i> <u class="hidden-xs"><i>Lettre d'infos</i></u></p>
              </div>
            <% end %>
          <img src="https://acquis.s3.eu-west-1.amazonaws.com/divers/MediaClasse_logo.png" width="240px" opacity= 0.33;>
          <div class="hidden-xs hidden-sm">
            <p>La littérature analysée et illustrée en vidéos,</p>
            <p>Pour les professeurs, étudiants, lycéens,</p>
            <p>Et tous les passionnés de culture !</p>
          </div>
        </div>
          <p class="text-center home-plan">
            <%= link_to plans_path do %>
              <% if current_user && current_user.plan.present? %>
                <span class="hvr-grow"><i class="fa fa-star"></i>
                  Accéder à votre espace abonné.
                <i class="fa fa-star"></i></span>
              <% else %>
                <span class="hvr-grow"><i class="fa fa-star"></i>
                  Conditions d'abonnement pour accéder à tout !
                <i class="fa fa-star"></i></span>
              <% end %>
            <% end %>
          <p/>
      </div>
    </div>
<!-- =================== GREAT COLUMN ========================================= -->
    <div class= "row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-6 video-wrapper">
        <!-- ======== LAST COURSE ================ -->
          <% if Category.exists?(tag: "last_lecture") %>
            <div class= "home-card-large">
              <%= link_to rails_admin.edit_path(model_name: 'category', id: @last_lecture.id) do %>
                <span id="home-edit">Edit</span>
              <% end %>
              <p><%= @last_lecture.description.gsub("\n", "<br/>").html_safe %></p>
              <%= link_to lecture_path(@last_lecture.name) do %>
                <div class="embed-responsive embed-responsive-16by9 home-video">
                  <img width= "100%" src="http://img.youtube.com/vi/<%= @last_lecture.video %>/maxresdefault.jpg">
                  <%= image_tag ("lecture-icon.png"), class: "lecture-icon" %>
                </div>
              <% end %>
            </div>
          <% end %>
        <!-- ======== PROMO LIVRE ================ -->
        <% if Category.exists?(tag: "promo") %>
            <% if current_user && current_user.admin %>
              <%= link_to rails_admin.edit_path(model_name: 'category', id: @promo.id) do %>
                <span id="home-edit">Edit</span>
              <% end %>
            <% end %>
          <%= link_to @promo.name do %>
            <div class= "home-card-promo">
              <img id= "home-cover" src= <%=@promo.video%>></span>
              <span id="home-promo">
                <%= @promo.description.gsub("\n", "<br/>").html_safe %>
              </span>
            </div>
          <% end %>
        <% end %>
        <!-- ======== PRESENTATION VIDEO ================ -->
        <div class= "home-card-large">
          <%= link_to comments_path do %>
            <p id="home-reagissez"><i>Livre d'or</i></p>
          <% end %>
          <p><%= @pres.description.gsub("\n", "<br/>").html_safe %></p>
          <div class="embed-responsive embed-responsive-16by9 home-video">
            <iframe title="Vidéo de présentation du site de Mediaclasse" class="embed-responsive-item" showinfo=0 src="https://www.youtube.com/embed/<%= @pres.video %>?showinfo=0&rel=0" frameborder="1" allowfullscreen></iframe>
          </div>
        </div>
        <!-- ======== COUP DE COEUR ================ -->
        <% if Category.exists?(tag: "favorite") %>
          <div class= "home-card-large">
            <h4>Mon dernier coup de coeur sur Youtube !</h4>
            <p><%= @favorite.description.gsub("\n", "<br/>").html_safe %></p>
            <div class="embed-responsive embed-responsive-16by9 home-video">
                <iframe title= "La vidéo littéraire du moment" width="854" height="480" src= "https://www.youtube.com/embed/<%= @favorite.video %>?showinfo=0&rel=0" frameborder="1" allowfullscreen></iframe>
            </div>
          </div>
        <% end %>
        <!-- ======== MINISTERE DE LA CULTURE ================ -->
        <div class= "home-card-large">
          <h4>Recommandé par le Ministère de la Culture :</h4>
            <p>Consultez l'inventaire des chaînes Youtube culturelles et scientifiques francophones du ministère de la Culture. ↓ </p>
          <a target= "_blank" href= "https://acquis.s3.eu-west-1.amazonaws.com/documents/350+chaines+Youtube.pdf">
            <img src="https://acquis.s3.eu-west-1.amazonaws.com/documents/Ministère+de+la+culture.jpg" width= "100%">
          </a>
        </div>
        <!-- ======== PRESSE =================================== -->
        <div class= "home-card-large">
          <h4>Ils aiment :</h4>
            <div class= "lecture-carousel">
              <div class= "lecture-press">
                <% @articles1.each do |article| %>
                  <%= link_to article.description, target: :_blank do %>
                    <%= image_tag (article.video), class: ("lecture-presslogo") %>
                  <% end %>
                <% end %>
              </div>
              <div class= "lecture-press">
                <% @articles2.each do |article| %>
                  <%= link_to article.description, target: :_blank do %>
                    <%= image_tag (article.video), class: ("lecture-presslogo") %>
                  <% end %>
                <% end %>
              </div>
              <div class= "lecture-press">
                <% @articles3.each do |article| %>
                  <%= link_to article.description, target: :_blank do %>
                    <%= image_tag (article.video), class: ("lecture-presslogo") %>
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
      </div>
<!-- =================== SMALL COLUMN ========================================= -->
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-4 infos-wrapper">
        <!-- ===== EDITO ===== -->
        <% if current_user && current_user.admin %>
            <%= link_to rails_admin.edit_path(model_name: 'category', id: @edito.id) do %>
              <span id="home-edit">Edit</span>
            <% end %>
        <% end %>
        <div class= "home-card-small">
          <h4>Édito</h4>
          <p><%= @edito.description.gsub("\n", "<br/>").html_safe %></p>
        </div>
         <!-- ===== PROGRAMMES ============== -->
        <div class= "home-card-small">
          <a target= "_blank"
          href="https://www.education.gouv.fr/bo/20/Hebdo18/MENE2009217N.htm">
            <h4 class= "underline link-profile">Bac de français</h4>
          </a>
            <p> Conforme au programme du Ministère de l'Éducation Nationale.
            <a target= "_blank" href="https://www.education.gouv.fr/bo/22/Hebdo26/MENE2216064N.htm">
              Bulletin Officiel ↓</p>
            </a>
            <a target= "_blank" href="https://www.education.gouv.fr/bo/22/Hebdo26/MENE2216064N.htm">
              <img width= "100%" src= "https://acquis.s3.eu-west-1.amazonaws.com/documents/logo-ministere-education-nationale.jpg">
            </a>
        </div>
        <!-- ====== DIAPORAMA INSTAGRAM ====== -->
        <% if Category.exists?(tag: "diapo") %>
            <% if current_user && current_user.admin %>
              <%= link_to rails_admin.edit_path(model_name: 'category', id: @diapo.id) do %>
                <span id="home-edit">Edit</span>
              <% end %>
            <% end %>
          <%= link_to "https://www.instagram.com/mediaclasse/", target: :_blank do %>
            <div class= "home-card-insta">
              <span><img class="avatar-bordered" src="https://acquis.s3.eu-west-1.amazonaws.com/divers/id+insta4.jpg" margin-bottom=10px></span>
              <span style="font-family: Arial;">
              <b>  Mediaclasse  
                <i class="fab fa-instagram"></i></b><br>
              <font size="2"><%= @diapo.description.gsub("\n", "<br/>").html_safe %></font>
              <br><br></span>
              <iframe src="<%= @diapo.video.html_safe %>", width="100%", max-width="360px", height= "330px";>
              </iframe>
            </div>
          <% end %>
        <% end %>
        <!-- ====== TIKTOK ====== -->
        <% if Category.exists?(tag: "tiktok") %>
          <%= link_to "https://www.tiktok.com/@mediaclasse?lang=fr", target: :_blank do %>
            <div class= "home-card-large">
            <h4><%= @tiktok.name %></h4>
              <%= @tiktok.description %>
              <%= image_tag (@tiktok.video), width: "100%" %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>

    <!-- =========================== SUPER COMMENTAIRES ================================= -->
    <div class="row">
      <div class="col-xs-11 col-sm-offset-2 col-sm-8">
        <% if @super_comments.length > 0 %>
          <h4 class="text-center">Vos commentaires !
          <%= link_to comments_path do %>
              <p id="home-livredor"><i>Livre d'Or</i></p>
          <% end %>
          </h4>
        <% end %>
        <% @super_comments.each do |comment| %>
          <div class= "home-discussion">
            <!-- Capture if picture exist -->
            <% if comment.user.picture %>
              <%= cl_image_tag comment.user.picture.path, class: "avatar-list", width:80, height:80, crop: :fill %>
            <% else %>
              <%= cl_image_tag "https://s3-eu-west-1.amazonaws.com/acquis/avatars/"+(comment.user.id+1000).to_s.last(3)+".jpg", class: "avatar-list", crop: :fill %>
            <% end %>
            <!-- Capture name or begining of email adress -->
            <% if comment.user.firstname %>
              <b><%= comment.user.firstname %> <%= comment.user.lastname %></b>
            <% else %>
              <b><%= comment.user.email.gsub(/.*(?=@)/).first %></b>
            <% end %>
            <!-- Add the timestamp on the comment -->
            <i> - <%= comment.created_at.strftime("le %d/%m/%y à %H:%M") %></i><br>
            <%= comment.content %>
            <!-- Current user can suppr the comment -->
            <% if comment.user == current_user %>
              <%= form_tag comment_path(comment), remote: true do %>
                <%= hidden_field_tag "comment_id", comment.id %>
                <%= button_to("Supprimer", comment_path(comment), method: :delete, class: "lecture-submit") %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
<!-- ====== PROFIL TIKTOK ======
    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@mediaclasse" data-unique-id="mediaclasse" data-embed-from="embed_page" data-embed-type="creator" style="max-width:780px; min-width:288px;"> <section> <a target="_blank" href="https://www.tiktok.com/@mediaclasse?refer=creator_embed">@mediaclasse</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
  -->
  </div>
</div>


<%= render 'shared/footer' %>
<%= render 'shared/cookie' %>
