<div class="home-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <div class= "plan-banner text-center">
          <h1>Mediaclasse
          </h1>
          <p>La littérature analysée et illustrée en vidéo </p>
          <p class="hidden-xs">pour les lycéens, les étudiants en Lettres et</p>
          <p>pour tous les passionnés de culture !</p>
          <%= link_to newsletter_path do %>
            <div class="plan-newsletter hvr-grow home-newsletter">
              <i class="fa fa-paper-plane"></i>
              <u class="hidden-xs"><i>Lettre d'infos</i></u></p>
            </div>
          <% end %>
        </div>
        <%= link_to plans_path do %>
          <p class="text-center home-promo">
            <% if current_user && current_user.plan.present? %>
              <span class="hvr-grow"><i class="fa fa-star"></i>
                Accéder à votre espace abonné.
              <i class="fa fa-star"></i></span>
            <% else %>
              <span class="hvr-grow"><i class="fa fa-star"></i>
                Accédez à tout et soutenez le site !
              <i class="fa fa-star"></i></span>
            <% end %>
          <p/>
        <% end %>
      </div>
    </div>
    <div class= "row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-6 video-wrapper">
        <div class= "home-card-large">
          <%= link_to comments_path do %>
            <p id="home-reagissez"><i>Livre d'or</i></p>
          <% end %>
          <h4>Présentation</h4>
          <p><%= @pres.description %></p>
          <div class="embed-responsive embed-responsive-16by9 home-video">
            <iframe title="Vidéo de présentation du site de Mediaclasse" class="embed-responsive-item" showinfo=0 src="https://www.youtube.com/embed/<%= @pres.video %>?showinfo=0&rel=0" frameborder="1" allowfullscreen></iframe>
          </div>
        </div>
        <div class= "home-card-large">
          <h4>Ma dernière vidéo :</h4>
          <div class="embed-responsive embed-responsive-16by9 home-video">
          <% @last_lecture = Lecture.last %>
              <iframe title= "Le dernier cours de Mediaclasse au format vidéo", width="854" height="480" src= "https://www.youtube.com/embed/<%= @last_lecture.video %>?showinfo=0&rel=0" frameborder="1" allowfullscreen></iframe>
          </div>
        </div>
        <div class= "home-card-large">
          <h4>Mon dernier coup de coeur sur Youtube !</h4>
          <p><%= @favorite.description %></p>
          <div class="embed-responsive embed-responsive-16by9 home-video">
              <iframe title= "La vidéo littéraire du moment" width="854" height="480" src= "https://www.youtube.com/embed/<%= @favorite.video %>?showinfo=0&rel=0" frameborder="1" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-4 infos-wrapper">
        <div class= "home-card-small">
          <h4>Édito</h4>
          <p><%= @edito.description.gsub("\n", "<br/>").html_safe %> <br><br>Pour recevoir mes publications en avant-première et connaître mes projets à venir, inscrivez-vous maintenant à ma <strong><%= link_to "Lettre d'Infos !", newsletter_path, class: "underline link-profile" %></strong>
          </p>
        </div>
        <div class= "home-card-small">
          <% if @channel %>
            <h4><%= link_to "Rejoignez la communauté !", edit_channel_path(@channel), {class: "underline link-community"} %></h4>
          <% else %>
            <h4><%= link_to "Rejoignez la communauté !", new_channel_path, {class: "underline link-community"} %></h4>
          <% end %>
          <p><%= @channels.description %></p>
        </div>
        <div class= "home-card-small">
          <h4><%= link_to "Participez", plans_path, {class: "underline link-profile"} %></h4>
          <p>Je souhaite que mes vidéos soient accessibles au plus grand nombre, c'est pourquoi vous pouvez fixer vous-même le montant de l'abonnement : cela permet à chacun de participer selon ses revenus.</p>
        </div>
        <div class= "home-card-small">
          <h4><%= link_to "Mes résumés illustrés en vidéo !", litterature_courses_path, {class: "underline link-litterature"} %></h4>
          <p><%= @litterature.description %></p>
        </div>
        <div class= "home-card-small">
          <h4><%= link_to "Toute la méthodologie", technique_courses_path(category: @methodo.name), {class: "underline link-technique"} %></h4>
          <p><%= @methodo.description %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-11 col-sm-offset-2 col-sm-8">
        <% if @super_comments.length > 0 %>
          <h4 class="text-center">Vos commentaires !
          <%= link_to comments_path do %>
              <p id="home-livredor"><i>Livre d'Or</i></p>
          <% end %>
          </h4>
        <% end %>
        <% @super_comments.each do |comment| %>
          <div class= "home-discussion">
            <!-- Capture if picture exist -->
            <% if comment.user.picture %>
              <%= cl_image_tag comment.user.picture.path, class: "list-image", width: 80, height: 80, crop: :fill %>
            <% else %>
              <%= cl_image_tag 'https://s3-eu-west-1.amazonaws.com/acquis/couvertures/default-user.jpg', class: "list-image", width: 80, height: 80, crop: :fill %>
            <% end %>
            <!-- Capture name or begining of email adress -->
            <% if comment.user.firstname %>
              <b><%= comment.user.firstname %> <%= comment.user.lastname %></b>
            <% else %>
              <b><%= comment.user.email.gsub(/.*(?=@)/).first %></b>
            <% end %>
            <!-- Add the timestamp on the comment -->
            <i> - <%= comment.created_at.strftime("le %d/%m/%y à %H:%M") %></i><br>
            <%= comment.content %>
            <!-- Current user can suppr the comment -->
            <% if comment.user == current_user %>
              <%= form_tag comment_path(comment), remote: true do %>
                <%= hidden_field_tag "comment_id", comment.id %>
                <%= button_to("Supprimer", comment_path(comment), method: :delete, class: "lecture-submit") %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
<%= render 'shared/cookie' %>
