<div class="home-wrapper">
  <div class="container-fluid">
    <div class="border profile hidden-xs"></div>
<!-- === EN-TÊTE === -->
    <div class="row">
      <div class="col-xs-12 col-sm-1 col-sm-offset-2">
        <%= link_to plans_path do %>
              <div class="lecture-retour hvr-bubble-left">
                <p>Retour</p>
              </div>
            <% end %>
          </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <% if @invoices %>
          <br><h3>Factures de votre abonnement en cours</h3><br><br>
        <% else %>
          <br><h3>Facture de votre abonnement en cours</h3><br><br>
        <% end %>
        <!-- ==== INFOS USER ==== -->
            <div>
              <p>Adresse email : <%= email ||= current_user.email %></p>
              <p>Type : <%= current_user.collective ? "Payé en 1 fois" : "Mensuel" %></p>
              <p><%= prenom ||= current_user.firstname ; prenom ? "Prénom : "+prenom : "" %></p>
              <p><%= nom ||= current_user.lastname ; nom ? "Nom : "+nom : "" %></p>
              <p><%= paydate ||= current_user.paydate ; paydate ? "Début de l'abonnement : "+paydate.strftime("%d/%m/%Y") : "" %></p>
              <p><%= expire ||= current_user.expire ; expire ? "Fin de l'abonnement : "+expire.strftime("%d/%m/%Y") : "" %></p>
              <hr><p align= "center">
                <%= pricing ||= current_user.pricing ; pricing ? "Montant : "+pricing.round.to_s+"€" : "" %>
                <%= current_user.collective ? "" : "/ mois" %>
              </p><hr>
            </div>
            <!-- ==== FIN INFOS USER ==== -->
          <!-- === LISTE DES FACTURES === -->
          <% if @invoices %>
            <% @invoices["data"].each do |data| %>
              <%= link_to data["hosted_invoice_url"], format: 'pdf', target: :_blank do %>
                  <p>► Consulter la facture du <%= Time.at(data.status_transitions.paid_at).strftime("%d/%m/%Y") %></p>
              <% end %>
            <% end %>
          <% end %>
          <!-- ===== Fin de la page ===== -->
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
