<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>
<!-- === EN-TÊTE === -->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="plan-title">
              <br>
                <h3>Vous souhaitez vous abonner ?</h3>
              <% if current_user && current_user.expire %>
                <h4>(Votre abonnement est fermé depuis le <%= current_user.expire.strftime '%d/%m/%Y' %>)</h4>
              <% end %>
              <br>
              <!-- ======== INFORMATIONS SUR LE FONCTIONNEMENT ======== -->
              <%= render 'shared/plan_infos' %>
              <div id = "plan-pointer">
                Accepter les
                <%= render 'shared/plancgv' %>
                <span data-toggle = "modal" data-target = "#PlanCgv" class= "plan-pointer" >
                  <i>Conditions générales de vente ?  </i>
                </span>
                  <span class= "plan-box plan-unchecked">☐</span>
                  <span class= "plan-box plan-checked">☑</span>
              </div>
            </div>
          </div>
        </div>
            <!-- === PLANS MENSUELS === -->
            <div class="row">
              <div class="col-xs-offset-2 plan-wrapper">
                <h4 class= "plan-frame">Participation mensuelle récurrente :</h4>
                <%= render 'shared/plan_recurrent' %>
                <br><br>
              </div>
            </div>
            <!-- === BOUTON CESSER DE PARTICIPER === -->
            <div class="row">
              <div class="col-xs-offset-3 plan-button">
                <%= render 'shared/planquestion' %>
                Ce bouton vous permettra de fermer l'abonnement immédiatement :
                <div data-toggle = "modal" data-target = "#PlanQuestion" class="plan-delete-off hvr-glow">
                  <p>Cesser de participer</p>
                </div>
              </div>
            </div>
            <!-- === PLANS UNIQUES === -->
            <div class="row">
              <div class="col-xs-offset-2 plan-wrapper">
                <h4 class= "plan-frame">Si vous préférez payer en 1 fois :</h4>
                <%= render 'plan_unique' %>
                <%= render 'plan_virement' %>
                <br><br><br><br><br><br>
              </div>
            </div>
          <!-- === FIN DE LA PAGE === -->
          </div>
        </div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.plan-stripebutton-inactive').on('click', function(event) {
        $('html, body').animate({scrollTop:50}, 'easeInExpo');
        $('#plan-pointer').fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
        });
      $('.plan-unchecked').on('click', function(event) {
        $('.plan-stripebutton-inactive').hide();
        $('.plan-stripebutton-active').show();
        $('.plan-unchecked').hide();
        $('.plan-checked').show();
        });
      $('.plan-checked').on('click', function(event) {
        $('.plan-stripebutton-active').hide();
        $('.plan-stripebutton-inactive').show();
        $('.plan-unchecked').show();
        $('.plan-checked').hide();
        });
    });
  <% end %>
<% end %>


