<div class= "home-wrapper">
  <div class="container.fluid">
  <div class="hidden-xs hidden-sm border litterature"></div>
      <!-- ========== SEARCHBAR ========== -->
    <div class="col-xs-8 col-sm-offset-3">
      <form action="" class="list-search">
        <div class="btn-group">
          <input type="text" class="list-search-input" placeholder="Chercher dans les oeuvres & analyses" name="search" value="<%= params[:search] %>">
          <%= link_to "", litterature_courses_path, id: 'list-search-clear', class:'glyphicon glyphicon-remove' %>
        </div>
        <button type="submit" class="list-search-btn" >
          <i class="hidden-xs fa fa-search"></i>
        </button>
      </form>
    </div>
      <!-- ========== SIDEBAR ========== -->
    <div class="col-xs-1 col-md-offset-2">
      <div id="sidebar-parauteur">
        <h4>Par auteur</h4>
      </div>
      <div id="sidebar" class="hidden-xs hidden-sm">
        <% ('A' .. 'Z').to_a.each do | letter | %>

          <% if @sidebar_letters.include? letter %>
            <%= link_to "##{letter}", class: :scroll do %>
              <div id="sidebar-letter"><%= letter %></div>
            <% end %>
          <% else %>
            <div id="sidebar-letter" class="disabled"><%= letter %></div>
          <% end %>


        <% end %>
      </div>
    </div>
    <!-- ========== SCROLL LIST ========== -->
    <div class="col-xs-12 col-md-9">
      <div class="list-scroll">
        <% if @litterature_courses.count > 0 %>
          <% @litterature_courses.each do |course| %>
            <% if course.lectures.first && course.visible %>

              <div class="list-item hidden-xs" id="<%= course.author.pseudo.first %>">
                <%= link_to lecture_path(course.lectures.first) do %>
                  <%= cl_image_tag course.picture, class: "list-image", width: 178, height: 267, crop: :fill %>
                  <ul>
                    <li> <h3>  <%= course.author.pseudo %>, <%= course.title %> - <%= course.date %> </h3></li>
                    <li> <p> <%= course.description %> </p> </li>
                    <li> <p> <%= pluralize(course.lectures.where(visible: true).count, 'vidéo') %></p> </li>
                    <li>
                      <p class="list-themes"> <% course.themes.each do |t| %>
                        <%= t.name %>;
                      <% end %>
                      </p>
                    </li>
                  </ul>
                  <!-- === CHECKBOX === -->
                  <% if current_user %>
                    <div>
                      <div class= "list-like checkbox" id="like-<%= course.id %>">
                        <%= render 'like', course: course %>
                      </div>
                    </div>
                  <% end %>
                  <!-- === END OF CHECKBOX === -->
                <% end %>
              </div>
              <!-- ========== LIST-ITEM-XS ========== -->
              <div class= "list-item-xs hidden-sm hidden-md hidden-lg hidden-xl">
                <%= link_to lecture_path(course.lectures.first) do %>
                  <%= cl_image_tag course.picture, class: "list-image", width: 174, height: 259, crop: :fill %>
                  <ul>
                    <li><h4><%= course.author.pseudo %></h4></li>
                    <li><p><i><u><%= course.title %></u></i></p></li>
                    <li><p><%= pluralize(course.lectures.where(visible: true).count, 'vidéo') %></p></li>
                  </ul>
                <% end %>
              </div>
            <!-- === FIN SCROLL LIST === -->
            <% end %>
          <% end %>
        <!-- ========== PAS DE RESULTAT ========== -->
        <% else %>
          <div class="list-item"">
            <div class="banner-image">
              <p class="banner-title"> Oups ! Pas de résultat pour cette recherche ! </p>
              <p class="banner-text hidden-xs"> Si vous avez entré un mot (même mal orthographié) censé rediriger vers une oeuvre que j'ai traitée, <br>n'hésitez pas à me le signaler par email : mediaclasse.fr@gmail.com, à bientôt :)</p>
            </div>
          </div>
        <% end %>
  <!-- ====== CLOSE WRAPPER AND CONTAINER ====== -->
      </div>
    </div>
  </div>
</div>


