<div class= "home-wrapper">
  <div class="container-fluid">
  <div class="hidden-xs hidden-sm border technique"></div>
    <!-- ========== SIDEBAR ========== -->
      <p class="hidden-xs"><br></p>
    <div class="col-sm-1 col-sm-offset-2 hidden-xs">
      <div id="sidebar">
        <div id="sidebar-category">
          <% @categories.reverse.each do |category| %>
            <%= link_to technique_courses_path(category: category.name) do %>
              <% if category == @category %>
                <h4 class="active"><%= category.name %></h4>
              <% else %>
                <h4><%= category.name %></h4>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class= "col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl">
      <div id="sidebar-category-xs">
        <% @categories.reverse.each do |category| %>
          <%= link_to technique_courses_path(category: category.name) do %>
            <% if category == @category %>
              <h4 class="active"><%= category.name %></h4>
            <% else %>
              <h4><%= category.name %></h4>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- ========== SCROLL LIST ========== -->
    <div class="col-xs-12 col-sm-9">
      <div class="list-scroll">
        <% if @technique_courses.count > 0 %>
          <% @technique_courses.each do |course| %>
            <% if course.lectures.first && course.visible %>
          <!-- ====== Lien vers l'Admin ====== -->
                <% if current_user && current_user.admin %>
                  <%= link_to rails_admin.edit_path(model_name: 'course', id: course.id) do %>
                    <span id="course-admin">Edit</span>
                  <% end %>
                <% end %>
            <!-- ==== LIST ITEM ==== -->
              <div class="list-item hidden-xs">
                <%= link_to lecture_path(course.lectures.first) do %>
                  <%= cl_image_tag course.picture, class: "list-image", alt: "Couverture pour mes cours en "+@category.name+" sur "+course.title, width: 178, height: 267, crop: :fill %>
                  <ul>
                    <li><h3><%= course.title %></h3></li>
                    <li><p><%= course.description %></p></li>
                    <!-- Donne le nombre de vidéos
                    <li> <p> <%= pluralize(course.lectures.where(visible: true).count, 'vidéo') %></p> </li>
                    -->
                    <li>
                      <p class="list-themes"> <% course.themes.each do |t| %>
                        <%= t.name %>;
                      <% end %>
                      </p>
                    </li>
                  </ul><br>
                  <!-- === CHECKBOX ===
                  <#% if current_user %>
                    <div>
                      <div class= "list-like checkbox" id="like-<%= course.id %>">
                        <#%= render 'like', course: course %>
                      </div>
                    </div>
                  <#% else %>
                      <div class="list-like checkbox">
                        <br><i>Garder dans Mes Cours ?</i>
                      </div>
                  <#% end %>
                  === END OF CHECKBOX === -->
                <% end %>
              </div>
              <!-- ========== LIST-ITEM-XS ========== -->
              <div class= "list-item-xs hidden-sm hidden-md hidden-lg hidden-xl">
                <%= link_to lecture_path(course.lectures.first) do %>
                  <%= cl_image_tag course.picture, class: "list-image", width: 174, height: 259, crop: :fill %>
                  <ul>
                    <li><h4><%= course.title %></h4></li>
                    <!-- Donne le nombre de vidéos
                    <li><p><%= pluralize(course.lectures.where(visible: true).count, 'vidéo') %></p></li>
                    -->
                  </ul>
                <% end %>
              </div>
              <!-- ========== END LIST ========== -->
            <% end %>
          <% end %>
        <!-- ========== PAS DE RESULTAT ========== -->
        <% else %>
          <div class="list-item hidden-xs">
            <div class="banner-image">
              <p class="banner-title"> Désolé ! cette partie est encore en construction ! </p>
            </div>
          </div>
          <div class="list-item-xs hidden-sm hidden-md hidden-lg hidden-xl">
            <div class="banner-image">
              <p class="banner-title"> Désolé ! cette partie est encore en construction ! </p>
            </div>
          </div>
        <% end %>
  <!-- ====== CLOSE WRAPPER AND CONTAINER ====== -->
      </div>
    </div>
  </div>
</div>
