<!-- === EN-TÊTE ===-->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="plan-title">
              <br><h3>Merci pour votre participation !
              </h3><br>
              <!-- ======== INFORMATIONS SUR LE FONCTIONNEMENT ======== -->
              <%= render 'plan_infos' %>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-xs-offset-2 plan-wrapper">
              <h4 class= "plan-frame">Détails de l'abonnement pour <i><u><%= current_user.email %></i></u></h4>
            </div>
          </div>
        </div>
        <div class="row">
        <!-- === PLANS  === -->
          <div class="col-sm-offset-3 col-sm-1 plan-wrapper">
              <div class= "plan-stripe <%= @plan.css_class %>">
                <h4><%= @plan.title %></h4>
                  <% if @plan.payment == "recurrent" %>
                    <p>Vous participez actuellement pour un montant de <%= current_user.pricing.round %>€ par mois !</p>
                  <% elsif @plan.payment == "erreur" %>
                    <p><%= @plan.description %></p>
                  <% else %>
                    <p>Vous bénéficiez d'un accès à <%= current_user.plan %> !</p>
                  <% end %>
              </div>
          </div>
        <!-- ================ BOUTONS ================ -->
          <div class="col-sm-5 plan-button"><br><br></div>
          <!-- ======== CESSER DE PARTICIPER ======== -->
          <div class="col-sm-offset-1 col-sm-5 plan-button">
            <!-- Abonnement unitaire : on ne peut pas -->
            <% if current_user.collective || !current_user.stripe_customer_id.present? %>
              <%= render 'shared/planquestion' %>
              • Votre abonnement est payé !
                <div data-toggle = "modal" data-target = "#PlanQuestion" class="plan-delete-off hvr-glow">
                  <p>Cesser de participer</p>
                </div><br>
            <!-- Abonnement récurrent -->
            <% else %>
              • Arrêter mon abonnement :<br>
              <%= render 'shared/plandelete' %>
              <div data-toggle = "modal" data-target = "#PlanDelete" class="plan-delete hvr-glow">
                <p>Cesser de participer</p>
              </div>
            <% end %>
          </div>
          <!-- ======== CONSULTER FACTURES ======== -->
            <div class="col-sm-offset-1 col-sm-5 plan-button">
              • <%= link_to "Consulter mes factures", invoices_path %>
            </div>
          <!-- ======== CONSULTER CGV ======== -->
          <div class="col-sm-offset-1 col-sm-5 plan-button">
            <%= render 'shared/plancgv' %>
            <span data-toggle = "modal" data-target = "#PlanCgv" class= "plan-pointer" >
              • Consulter les <i>Conditions générales de vente ?  </i>
            </span>
          </div>
          <!-- ======== FIN DES BOUTONS ======== -->
        </div>
          <!-- === FAIRE UN DON === -->
            <div class="row">
              <div class="col-xs-offset-2 plan-wrapper"><br>
                <% if @don_plans.last.present? %>
                  <h4 class= "plan-frame">Pour soutenir Mediaclasse avec un don :</h4><br>
                  <%= render 'plan_don' %>
                <% end %>
                <br><br><br><br><br><br>
              </div>
            </div>

