<!-- === EN-TÊTE ===-->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="plan-title">
              <br><h3>Merci pour votre participation !
              </h3><br>
              <div class="plan-infos">
                ► C'est un prix libre à votre bon coeur ! En payant un peu plus, vous rendez possible l'accès à prix réduit, mais <u>dans tous les cas</u>, vous accédez à tout, tout de suite, et sans limite.<br>
                ► Les abonnements mensuels <u>sont reconduits tous les mois</u>, mais vous pouvez vous désengager n'importe quand en cliquant sur le bouton rouge "Cesser de participer" en bas de la page. <br>
                ► Le système de paiement est <u>international et sécurisé à 100%</u> (la connexion est cryptée de bout en bout). <br>
                ► Vos informations <u>restent confidentielles</u> et ne servent qu'à activer votre abonnement.<br><br>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        <!-- === PLANS  === -->
          <div class="col-sm-offset-3 col-sm-1 plan-wrapper">
              <div class= "plan-stripe <%= @plan.css_class %>">
                <h4><%= @plan.title %></h4>
                  <% if @plan.payment == "recurrent" %>
                    <p>Vous participez actuellement pour un montant de <%= current_user.pricing.round %>€ chaque mois !</p>
                  <% else @plan.payment == "unique" %>
                    <p>Vous avez acheté un accès à <%= current_user.plan %> !</p>
                  <% end %>
              </div>
          </div>
        <!-- ================ BOUTONS ================ -->
          <div class="col-sm-5 plan-button"><br><br></div>
          <!-- ======== CESSER DE PARTICIPER ======== -->
          <div class="col-sm-offset-1 col-sm-5 plan-button">
            <!-- Abonnement unitaire : on ne peut pas -->
            <% if current_user.collective || !current_user.stripe_customer_id.present? %>
              <%= render 'shared/planquestion' %>
              Votre abonnement est payé !
                <div data-toggle = "modal" data-target = "#PlanQuestion" class="plan-delete-off hvr-glow">
                  <p>Cesser de participer</p>
                </div><br>
            <!-- Abonnement récurrent -->
            <% else %>
              Arrêter mon abonnement :<br>
              <%= render 'shared/plandelete' %>
              <div data-toggle = "modal" data-target = "#PlanDelete" class="plan-delete hvr-glow">
                <p>Cesser de participer</p>
              </div>
            <% end %>
          </div>
          <!-- ======== CONSULTER FACTURES ======== -->
          <!-- Abonnement récurrent seulement -->
          <% unless current_user.collective || !current_user.stripe_customer_id.present? %>
            <div class="col-sm-offset-1 col-sm-5 plan-button">
                <%= link_to "Consulter mes factures", invoices_path %>
            </div>
          <% end %>
          <!-- ======== CONSULTER CGV ======== -->
          <div class="col-sm-offset-1 col-sm-5 plan-button">
                <%= render 'shared/plancgv' %>
                <span data-toggle = "modal" data-target = "#PlanCgv" class= "plan-pointer" >
                  Consulter les <i>Conditions générales de vente ?  </i>
                </span>
              </div>
        </div>
