<!-- === EN-TÊTE === -->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="plan-title">
              <br>
                <h3>Vous souhaitez vous abonner ?</h3>
              <br>
              <div class="plan-infos">
                ► C'est un prix libre : <u>quel que soit le montant choisi</u>, vous accédez à TOUT, sans limite ! Les forfaits les plus élevés contribuent aux forfaits réduits et au développement du site.<br>
                ► Par carte bancaire, <u>Le paiement est renouvelé automatiquement tous les mois</u>, mais vous pouvez l'arrêter immédiatement en cliquant sur le bouton rouge "Cesser de participer" en bas de la page. <br>
                ► Le système de paiement est <u>international et sécurisé à 100%</u> (la connexion est cryptée de bout en bout). <br>
                ► Vos informations <u>restent confidentielles</u> et ne servent qu'à activer votre abonnement.<br><br>
              </div>
              <div id = "plan-pointer">
                Accepter les
                <%= render 'shared/plancgv' %>
                <span data-toggle = "modal" data-target = "#PlanCgv" class= "plan-pointer" >
                  <i>Conditions générales de vente ?  </i>
                </span>
                <!-- <#%= link_to plans_path(@test = "cgv_accepted") do %> -->
                  <span class= "plan-box plan-unchecked">☐</span>
                  <span class= "plan-box plan-checked">☑</span>
                <!-- <#% end %> -->
              </div>
            </div>
          </div>
        </div>
        <!-- === PLANS NOT ACCEPTED === -->
            <div class="row">
              <div class="col-xs-offset-2 plan-wrapper">
                <!-- DEUX -->
                <div class= "plan-stripe deux">
                  <h4>Prix réduit</h4>
                  <p>Une somme symbolique pour les plus faibles revenus !</p>
                  <div class = "plan-stripebutton-inactive">2€ / mois</div>
                    <div class = "plan-stripebutton-active">
                    <%= form_tag plans_path do %>
                      <%= hidden_field_tag "plan", "deux" %>
                      <span style="margin: 15px"></span>
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                        data-name="Mediaclasse.fr"
                        data-description="Participation mensuelle"
                        data-amount="200"
                        data-label="2€ /mois"
                        data-currency="EUR">
                      </script>
                    <% end %>
                  </div>
                </div>
                <!-- QUATRE -->
                <div class= "plan-stripe quatre">
                  <h4>Individuel</h4>
                  <p>Un prix neutre pour s'abonner en toute indépendance.</p>
                  <div class = "plan-stripebutton-inactive">4€ / mois</div>
                  <div class = "plan-stripebutton-active">
                    <%= form_tag plans_path do %>
                      <%= hidden_field_tag "plan", "quatre" %>
                      <span style="margin: 15px"></span>
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                        data-name="Mediaclasse.fr"
                        data-description="Participation mensuelle"
                        data-amount="400"
                        data-label="4€ / mois"
                        data-currency="EUR">
                      </script>
                    <% end %>
                  </div>
                </div>
                <!-- HUIT -->
                <div class= "plan-stripe huit">
                  <h4>Participant</h4>
                  <p>Merci ! Vous prenez part au système de solidarité !</p>
                  <div class = "plan-stripebutton-inactive">8€ / mois</div>
                  <div class = "plan-stripebutton-active">
                    <%= form_tag plans_path do %>
                      <%= hidden_field_tag "plan", "huit" %>
                      <span style="margin: 14px"></span>
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                        data-name="Mediaclasse.fr"
                        data-description="Participation mensuelle"
                        data-amount="800"
                        data-label="8€ / mois"
                        data-currency="EUR">
                      </script>
                    <% end %>
                  </div>
                </div>
                <!-- SEIZE -->
                <div class= "plan-stripe seize">
                  <h4>Contributeur</h4>
                  <p>Merci ! Grâce à vous, le site se développe et devient pérenne !</p>
                  <div class = "plan-stripebutton-inactive">16€ / mois</div>
                  <div class = "plan-stripebutton-active">
                    <%= form_tag plans_path do %>
                      <%= hidden_field_tag "plan", "seize" %>
                      <span style="margin: 13px"></span>
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                        data-name="Mediaclasse.fr"
                        data-description="Participation mensuelle"
                        data-amount="1600"
                        data-label="16€ /mois"
                        data-currency="EUR">
                      </script>
                    <% end %>
                  </div>
                </div>
                <!-- TRENTE-DEUX -->
                <div class= "plan-stripe trente-deux">
                  <h4>Mécène</h4>
                  <p>Vous soutenez le projet avec passion ! Merci pour cette générosité !</p>
                  <div class = "plan-stripebutton-inactive">32€ / mois</div>
                  <div class = "plan-stripebutton-active">
                    <%= form_tag plans_path do %>
                      <%= hidden_field_tag "plan", "trente-deux" %>
                      <span style="margin: 12px"></span>
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                        data-name="Mediaclasse.fr"
                        data-description="Participation mensuelle"
                        data-amount="3200"
                        data-label="32€ / mois"
                        data-currency="EUR">
                      </script>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
    <!-- === BOUTONS === -->
            <br>
            <div class="row">
              <!-- Remises et virements -->
                <%= render 'shared/plancollectif' %>
              <!-- Payer par virement -->
              <div class="col-xs-offset-3 plan-button">
                Payer par virement ? Profiter de remises collectives ?
                <div data-toggle = "modal" data-target = "#PlanCollectif" class="plan-question hvr-glow">
                  <p>Contactez-moi</p>
                </div><br>
              </div>
              <!-- Cesser de participer -->
              <div class="col-xs-offset-3 plan-button">
                <%= render 'shared/planquestion' %>
                Ce bouton deviendra actif dès que vous serez abonné :
                <div data-toggle = "modal" data-target = "#PlanQuestion" class="plan-delete-off hvr-glow">
                  <p>Cesser de participer</p>
                </div><br>
              </div>
            </div>
          </div>
        </div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.plan-stripebutton-inactive').on('click', function(event) {
        $('#plan-pointer').fadeIn(100).fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
        });
    });
  <% end %>
<% end %>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.plan-unchecked').on('click', function(event) {
        $('.plan-stripebutton-inactive').hide();
        $('.plan-stripebutton-active').show();
        $('.plan-unchecked').hide();
        $('.plan-checked').show();
        });
    });
  <% end %>
<% end %>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.plan-checked').on('click', function(event) {
        $('.plan-stripebutton-active').hide();
        $('.plan-stripebutton-inactive').show();
        $('.plan-unchecked').show();
        $('.plan-checked').hide();
        });
    });
  <% end %>
<% end %>

