<% @recurrent_plans.each  do |plan| %>

  <div class= "plan-stripe <%= plan.css_class %>">
    <h4><%= plan.title %></h4>
    <p><%= plan.description %></p>
    <!-- Bouton inactif tant que les CGV ne sont pas cochées -->
    <div class = "plan-stripebutton-inactive"><%= plan.price.round %>€ / mois</div>
    <!-- Bouton actif quand les CGV sont cochées -->
    <div class = "plan-stripebutton-active">
      <!-- Le bouton renvoie à l'action planselected qui renvoie à Checkout -->
      <!-- En paramètres on envoie
        - En "id" : le nom du plan en BDD qui est l'id côté Stripe.
        - En "mode" : le mode de paiement "subscription" puisqu'on est dans les plans récurrents. -->
      <%= link_to controller:"plans", action: "planselected", id: plan.plan_name, mode: "subscription" do %>
          <button class = "checkout-button hvr-light" id="checkout-button-<%=plan.plan_name%>" role="link"
            data-name="<%=plan.plan_name%>"
            >
            <%= plan.price.round %>€ / mois
          </button>
      <% end %>
    </div>
  </div>
<% end %>
