<div class="home-wrapper">
  <div class="container-fluid">
    <div class="border profile hidden-xs"></div>
      <!-- ========== IF PLAN EXIST ========== -->
      <% if !current_user.plan.blank? %>
      <!-- === EN-TÊTE ===-->
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-sm-offset-3">
            <div class="plan-title">
              <br><br><h2>Merci pour votre participation !</h2><br>
              <h4>Vous participez actuellement pour un montant de <%= current_user.plan %> euros par mois.</h4>
              <p>
                ► Vous accédez sans limite à l'intégralité de mes vidéos et documents.<br>
                ► Vous contribuez à mon projet sur le principe du mécénat. <br>
                ► Vous permettez à chacun d'accéder à mes ressources selon ses revenus.<br>
                ► Vous pouvez cesser de participer quand vous le souhaitez, en un clic. <br>
                * Le paiement est international, entièrement sécurisé et crypté de bout en bout.<br>
              </p>
            </div>
          </div>
        </div>
        <!-- === BOUTONS === -->
        <div class="row">
          <div class="col-sm-offset-2 plan-wrapper">
            <%= render 'shared/plandelete' %>
            <div data-toggle = "modal" data-target = "#PlanDelete" class="plan-delete hvr-glow">
              <p>Cesser de participer</p>
            </div>
          </div>
        </div>
      <!-- ========== ELSIF PLANS COLLECTIFS ========== -->
      <% elsif current_user.collective %>
      <!-- === EN-TÊTE === -->
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-sm-offset-3">
            <div class="plan-title">
              <h2>Plan collectif</h2><br>
              <h4>Félicitations ! Votre plan collectif est prêt à être activé !</h4>
              <p>Je vous invite à sélectionner le plan qui correspond au nombre d'utilisateurs souhaités.</p>
                ► Vous pourrez laisser ce compte ouvert sur plusieurs postes en même temps.</br>
                ► Tous les utilisateurs auront le même compte et le même mot de passe, ne communiquez pas ces informations à des personnes extérieures.</br>
                ► Vos utilisateurs pourront accéder à l'intégralité de mes ressources. <br>
                ► Vous pouvez cesser de participer quand vous le souhaitez, en un clic. <br>
            </div>
          </div>
        </div>
      <!-- === PLANS === -->
        <div class="row">
          <div class="col-xs-offset-2 plan-wrapper">
            <div class= "plan-stripe hvr-glow collectif">
              <%= form_tag plans_path do %>
                <%= hidden_field_tag "plan", "trente" %>
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                  data-name="Mediaclasse.fr"
                  data-description="Participation mensuelle"
                  data-amount="3000"
                  data-label="30€">
                </script>
              <% end %>
            </div>
            <div class= "plan-stripe hvr-glow collectif">
              <%= form_tag plans_path do %>
                <%= hidden_field_tag "plan", "soixante" %>
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                  data-name="Mediaclasse.fr"
                  data-description="Participation mensuelle"
                  data-amount="6000"
                  data-label="60€">
                </script>
              <% end %>
            </div>
            <div class= "plan-stripe hvr-glow collectif">
              <%= form_tag plans_path do %>
                <%= hidden_field_tag "plan", "quatre-vingt-dix" %>
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                  data-name="Mediaclasse.fr"
                  data-description="Participation mensuelle"
                  data-amount="9000"
                  data-label="90€">
                </script>
              <% end %>
            </div>
            <div class= "plan-stripe hvr-glow collectif">
              <%= form_tag plans_path do %>
                <%= hidden_field_tag "plan", "cent-vingt" %>
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                  data-name="Mediaclasse.fr"
                  data-description="Participation mensuelle"
                  data-amount="12000"
                  data-label="120€">
                </script>
              <% end %>
            </div>
            <div class= "plan-stripe hvr-glow collectif">
              <%= form_tag plans_path do %>
                <%= hidden_field_tag "plan", "cent-quatre-vingt" %>
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                  data-name="Mediaclasse.fr"
                  data-description="Participation mensuelle"
                  data-amount="1!000"
                  data-label="180€">
                </script>
              <% end %>
            </div>
            <div class= "plan-stripe hvr-glow collectif">
              <%= form_tag plans_path do %>
                <%= hidden_field_tag "plan", "trois-cent" %>
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                  data-name="Mediaclasse.fr"
                  data-description="Participation mensuelle"
                  data-amount="30000"
                  data-label="300€">
                </script>
              <% end %>
            </div>
            / par mois. <br>
            <p><i>* Le paiement est international, entièrement sécurisé et crypté de bout en bout.</i></p>
          </div>
        </div>
        <!-- === BOUTONS === -->
        <div class="row">
          <div class="col-xs-offset-2 plan-wrapper">
            <%= render 'shared/planquestion' %>
            <br>Vous souhaitez en savoir plus sur le système de paiement ?
            <div data-toggle = "modal" data-target = "#PlanQuestion" class="plan-question hvr-glow">
              <p>Comment ça fonctionne ?</p>
            </div>
          </div>
        </div>
      <!-- ========== ELSE PLANS INDIVIDUELS ========== -->
      <% else %>
      <!-- === EN-TÊTE === -->
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-sm-offset-3">
            <div class="plan-title">

          <h3>Le site existe grâce à vous !</h3><br>
          <h4>Pourquoi une participation mensuelle à prix libre ?</h4>
          ► Quel que soit le montant choisi, vous accédez à tout, sans limite !<br>
          ► Les participations plus élevées rendent le forfait à 2€ possible.<br>
          ► C'est davantage du mécénat dans la durée qu'un acte d'achat.<br>
          <p>
          <h4>Comment fonctionne  le paiement ?</h4>
          ► Renouvellement automatique tous les mois à la même date.<br>
          ► Possibilité d'arrêter immédiatement (bouton rouge plus bas).</br>
          ► Système international et sécurisé de bout en bout.</i></br>
          <p>
          <h4>Une question particulière ?</h4>
          ► Contactez-moi par email :
          <strong><i>mediaclasse.fr@gmail.com</strong></i><br><br>

            </div>
          </div>
        </div>
        <!-- === PLANS  === -->
        <div class="row">
          <div class="col-xs-offset-2 plan-wrapper">
            <div class= "plan-stripe hvr-glow deux">
              <%= form_tag plans_path do %>
                <%= hidden_field_tag "plan", "deux" %>
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                  data-name="Mediaclasse.fr"
                  data-description="Participation mensuelle"
                  data-amount="200"
                  data-label="2€">
                </script>
              <% end %>
            </div>
            <div class= "plan-stripe hvr-glow cinq">
              <%= form_tag plans_path do %>
                <%= hidden_field_tag "plan", "cinq" %>
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                  data-name="Mediaclasse.fr"
                  data-description="Participation mensuelle"
                  data-amount="500"
                  data-label="5€">
                </script>
              <% end %>
            </div>
            <div class= "plan-stripe hvr-glow dix">
              <%= form_tag plans_path do %>
                <%= hidden_field_tag "plan", "dix" %>
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                  data-name="Mediaclasse.fr"
                  data-description="Participation mensuelle"
                  data-amount="1000"
                  data-label="10€">
                </script>
              <% end %>
            </div>
            <div class= "plan-stripe hvr-glow quinze">
              <%= form_tag plans_path do %>
                <%= hidden_field_tag "plan", "quinze" %>
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                  data-name="Mediaclasse.fr"
                  data-description="Participation mensuelle"
                  data-amount="1500"
                  data-label="15€">
                </script>
              <% end %>
            </div>
            <div class= "plan-stripe hvr-glow vingt">
              <%= form_tag plans_path do %>
                <%= hidden_field_tag "plan", "vingt" %>
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                  data-name="Mediaclasse.fr"
                  data-description="Participation mensuelle"
                  data-amount="2000"
                  data-label="20€">
                </script>
              <% end %>
            </div>
            <div class= "plan-stripe hvr-glow vingt-cinq">
              <%= form_tag plans_path do %>
                <%= hidden_field_tag "plan", "vingt-cinq" %>
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                  data-name="Mediaclasse.fr"
                  data-description="Participation mensuelle"
                  data-amount="2500"
                  data-label="25€">
                </script>
              <% end %>
            </div>
            <div class= "plan-stripe hvr-glow trente">
              <%= form_tag plans_path do %>
                <%= hidden_field_tag "plan", "trente" %>
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
                  data-name="Mediaclasse.fr"
                  data-description="Participation mensuelle"
                  data-amount="3000"
                  data-label="30€">
                </script>
              <% end %>
            </div>
            / par mois. <br>
          </div>
        </div>
        <!-- === BOUTONS === -->
        <div class="row">
          <div class="col-xs-offset-2 plan-wrapper">
            <%= render 'shared/planquestion' %>
            <br>Ce bouton deviendra actif dès que vous serez abonné :
            <div data-toggle = "modal" data-target = "#PlanQuestion" class="plan-delete-off hvr-glow">
              <p>Cesser de participer</p>
            </div>
            <%= render 'shared/plancollectif' %>
            <br>Médiathèque, école, association : bénéficiez de tarifs collectifs !
            <div data-toggle = "modal" data-target = "#PlanCollectif" class="plan-question hvr-glow">
              <p>Comment ça marche ?</p>
            </div>
          </div>
        </div>
    <!-- ========== END ========== -->
      <% end %>
    <!-- ========== CLOSE WRAPPERS ========== -->
    </div>
  </div>
</div>

