<!-- ==== CONTROLLER ==== -->
<% @plan = Plan.where(price: @user.pricing).first %>

<!-- ==== CONTENU DU MESSAGE ==== -->
<p>Bonjour
  <% unless @user.firstname.nil? %>
    <%= @user.firstname %> !
  <% end %>
</p>

<p>Bienvenue parmi les abonnés de Mediaclasse ! </p>

<p><%= @plan.message %></p>

<p>
<% if @plan.payment == "unique" %>
  <p>Vore abonnement a été payé en une seule fois : vous pouvez désormais accéder à l'intégralité de mes contenus jusqu'au <%= @user.expire.strftime '%d/%m/%Y' %>. Toutes les informations concernant votre abonnement sont consultables dans votre <%= link_to 'espace "Abonnement"', plans_url %>.</p>
<% elsif @plan.payment == "recurrent" %>
  <p>Votre abonnement est automatiquement renouvelé tous les mois, mais vous pouvez l'interrompre quand vous le souhaitez, en cliquant sur le bouton rouge "Cesser de participer" depuis votre <%= link_to 'espace "Abonnement"', plans_url %>. C'est sur cette même page que vous pourrez consulter et télécharger les factures de l'abonnement en cours.</p>
<% end %>
<p>Si vous avez la moindre question, n'hésitez pas à me contacter à l'adresse suivante : mediaclasse.fr@gmail.com, je vous répondrai avec plaisir.</p>
<p>En vous souhaitant une excellente utilisation du site,</p>

Romain de Mediaclasse
</p>
