<!DOCTYPE html>
<html>
  <head>
    <title>Mediaclasse</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="shortcut icon" type="image/png" href="/assets/logo.png">

<!-- ========== YOUTUBE PLAYER ENHANCER ========== -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>$(function(){ $("iframe").each(function(){var thisI=$(this); var regEx = /(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/ ]{11})/i; var vidID=thisI.attr("src").match(regEx)[1]; var nqReplace="https://netqualified.com/vid/?v="+vidID+"&bg=444444&brand=0&auto=0&controls=1&bgc=444444"; thisI.attr("src", nqReplace);});window.iNo = 0; $("video").each(function(){ window.iNo++; var thisV = $(this);  var vidPoster = thisV.attr("poster"); var vidWidth = thisV.attr("width"); var vidHeight = thisV.attr("height"); $("<iframe class=\"video embed-responsive-item\" id=\"nq-" + window.iNo + "\" width=\"" + vidWidth + "\" height=\"" + vidHeight + "\" src=\"\" frameborder=\"0\" allowfullscreen></iframe>").insertBefore( thisV ); $myVideo = $("#nq-" + window.iNo);  $("source").each(function(){  var thisS = $(this).attr("src");  $myVideo.attr("src", "https://netqualified.com/vid/_dev/html5.php?sources="+thisS+"&img="+vidPoster+"&bg=444444&bgc=444444"); }); $(thisV).remove();  });});
</script> -->

  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/loginmodal' %>
    <%= render 'shared/signupmodal' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:js) %>
    <%= cloudinary_js_config %>
  </body>
</html>

